/* font-family: 'Amatic SC', sans-serif;
font-family: 'Caveat', cursive;
font-family: 'Ephesis', cursive;
font-family: 'Heebo', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Satisfy', cursive; */